.container {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  max-width: 800px;
  background: rgb(220, 236, 251);
}
h1,
h2,
.bold {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

#temp {
  text-decoration: none;
  color: #000;
}
.text-input {
  width: 350px;
}
#temperature-description {
  display: inline-block;
}

#temperature-description::first-letter {
  text-transform: capitalize;
}

.units a {
  color: rgb(91, 160, 171);
  cursor: default;
  text-decoration: none;
}

.units .active {
  text-decoration: none;
  color: #000;
  cursor: default;
}

.coords {
  display: flex;
}

.current-position {
  margin-top: 8px;
  margin-left: 8px;
  opacity: 0.5;
}

.weather-forecast {
  font-size: 20px;
  margin-top: 20px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 18px;
}

.min-temp {
  opacity: 0.6;
}

footer {
  text-align: center;
}
