.container {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  max-width: 800px;
  background: rgb(220, 236, 251);
}
h1,
h2,
.bold {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: rgb(91, 160, 171);
}
#temp {
  text-decoration: none;
  color: #000;
}
footer {
  text-align: center;
}
